.box{  
    width:120px;
    height:120px;
    background: black;
    color:white;
    font-size:70px;    
    margin:10px;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column-reverse;
}

