.container {
    display: grid;
    grid-template-columns: 1fr 2fr 100px 50%;
}

.grid-item{  
    background: black;
    color:white;
    font-size:70px;    
    text-align: center;
    border: 3px solid red;
}
