.red{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    z-index: 1;
}

.blue{
    height: 150px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
}