.container {
    display: grid;
    grid-template-rows: 100px 200px 30% 1fr;
}

.grid-item{  
    background: black;
    color:white;
    font-size:70px;    
    text-align: center;
    border: 3px solid red;
}
