.container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}
.grid-item{  
    background: black;
    color:white;
    font-size:70px;    
    text-align: center;
    border: 3px solid red;
}
